In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [7]:
df = pd.read_csv('modified.csv')

In [8]:
df['gender'].replace("Other",3,inplace=True)

In [9]:
target = df['stroke']

In [10]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,bmi_category,age_group
0,31112,1,1.736195,0,1,1,1,2,0.636799,6.988591e-01,1,1,obese,elderly
1,53882,1,1.469894,1,1,1,1,2,-0.944349,-6.066852e-02,1,1,overweight,elderly
2,10434,2,1.247977,0,0,2,1,1,0.127990,-7.457327e-01,1,1,normal weight,elderly
3,27419,2,0.804143,0,0,1,1,2,-0.676926,-2.735423e-16,4,1,NaN,middle-aged
4,60491,2,1.647428,0,0,1,1,1,-1.452717,-5.372349e-01,4,1,normal weight,elderly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,18234,2,1.736195,1,0,1,1,1,-0.341545,-2.735423e-16,1,0,NaN,elderly
4396,44873,2,1.780578,0,0,1,2,1,1.487609,1.815812e+00,1,0,obese,elderly
4397,19723,2,-0.261059,0,0,1,2,2,-0.375083,4.158979e-01,1,0,obese,middle-aged
4398,37544,1,0.449076,0,0,1,1,2,3.300876,-3.287371e-01,3,0,overweight,middle-aged
4399,44679,2,0.138392,0,0,1,3,1,-0.274027,-2.393809e-01,4,0,overweight,middle-aged

In [11]:
selected_features = ['age', 'bmi', 'avg_glucose_level', 'gender', 'smoking_status','heart_disease','hypertension']


X = df[selected_features]  # Selected features as input parameters
y = df['stroke']  # Target variable

In [12]:
X = df.drop(['bmi_category','age_group','stroke'], axis=1)

In [13]:
X

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,31112,1,1.736195,0,1,1,1,2,0.636799,6.988591e-01,1
1,53882,1,1.469894,1,1,1,1,2,-0.944349,-6.066852e-02,1
2,10434,2,1.247977,0,0,2,1,1,0.127990,-7.457327e-01,1
3,27419,2,0.804143,0,0,1,1,2,-0.676926,-2.735423e-16,4
4,60491,2,1.647428,0,0,1,1,1,-1.452717,-5.372349e-01,4
...,...,...,...,...,...,...,...,...,...,...,...
4395,18234,2,1.736195,1,0,1,1,1,-0.341545,-2.735423e-16,1
4396,44873,2,1.780578,0,0,1,2,1,1.487609,1.815812e+00,1
4397,19723,2,-0.261059,0,0,1,2,2,-0.375083,4.158979e-01,1
4398,37544,1,0.449076,0,0,1,1,2,3.300876,-3.287371e-01,3
4399,44679,2,0.138392,0,0,1,3,1,-0.274027,-2.393809e-01,4

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
X_train.shape

(3520, 11)

In [16]:
X_test.shape

(880, 11)

In [17]:
y_train.shape

(3520,)

In [18]:
y_test.shape

(880,)

In [19]:
X

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,31112,1,1.736195,0,1,1,1,2,0.636799,6.988591e-01,1
1,53882,1,1.469894,1,1,1,1,2,-0.944349,-6.066852e-02,1
2,10434,2,1.247977,0,0,2,1,1,0.127990,-7.457327e-01,1
3,27419,2,0.804143,0,0,1,1,2,-0.676926,-2.735423e-16,4
4,60491,2,1.647428,0,0,1,1,1,-1.452717,-5.372349e-01,4
...,...,...,...,...,...,...,...,...,...,...,...
4395,18234,2,1.736195,1,0,1,1,1,-0.341545,-2.735423e-16,1
4396,44873,2,1.780578,0,0,1,2,1,1.487609,1.815812e+00,1
4397,19723,2,-0.261059,0,0,1,2,2,-0.375083,4.158979e-01,1
4398,37544,1,0.449076,0,0,1,1,2,3.300876,-3.287371e-01,3
4399,44679,2,0.138392,0,0,1,3,1,-0.274027,-2.393809e-01,4

In [20]:
y

0       1
1       1
2       1
3       1
4       1
       ..
4395    0
4396    0
4397    0
4398    0
4399    0
Name: stroke, Length: 4400, dtype: int64

In [21]:
#Logistic Regression model
logreg = LogisticRegression(random_state=42)
logreg.fit(X_train, y_train)

# Predict on the test set
y_pred_lg = logreg.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred_lg)
print("Accuracy:", accuracy)

Accuracy: 0.9602272727272727

In [32]:
# evaluation matrices
accuracy = accuracy_score(y_test, y_pred_lg)
precision = precision_score(y_test, y_pred_lg)
recall = recall_score(y_test, y_pred_lg)
f1 = f1_score(y_test, y_pred_lg)
roc_auc = roc_auc_score(y_test, logreg.predict_proba(X_test)[:, 1])

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("AUC-ROC:", roc_auc)

Accuracy: 0.9602272727272727
Precision: 0.0
Recall: 0.0
F1 Score: 0.0
AUC-ROC: 0.7694674556213018

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [23]:
X_test

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
274,13547,2,-0.172292,0,0,1,1,1,0.010165,2.074001e-01,1
3430,60774,1,-1.731037,0,0,2,4,2,-1.021134,-1.296763e+00,4
4324,57034,2,-0.172292,0,0,2,1,2,1.458484,5.201467e-01,1
1027,739,2,1.425511,0,0,1,2,2,-0.520709,-2.735423e-16,3
1589,34525,2,-0.616126,0,0,2,1,2,-0.363168,-8.350889e-01,1
...,...,...,...,...,...,...,...,...,...,...,...
1123,67350,2,1.026060,0,0,1,3,2,-0.557777,9.073569e-01,1
1032,28414,1,0.404692,0,0,1,1,1,0.529124,1.925074e-01,2
3280,64662,2,-0.793660,0,0,2,1,2,-1.477429,1.115855e+00,1
527,61300,1,-0.926810,0,0,2,1,1,-1.599226,-1.103157e+00,1
1200,42201,1,0.537843,0,0,1,1,1,1.441715,5.797175e-01,1

In [24]:
# Decision tree model
model = DecisionTreeClassifier(criterion = "entropy",max_depth = 5)
model = model.fit(X_train, y_train)
y_pred_dt = model.predict(X_test)
print("Accuracy:", metrics.accuracy_score(y_test,y_pred_dt)*100)

Accuracy: 95.9090909090909

In [25]:
# Print the evaluation metrics
accuracy = accuracy_score(y_test, y_pred_dt)
precision = precision_score(y_test, y_pred_dt)
recall = recall_score(y_test, y_pred_dt)
f1 = f1_score(y_test, y_pred_dt)
roc_auc = roc_auc_score(y_test, logreg.predict_proba(X_test)[:, 1])

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("AUC-ROC:", roc_auc)

Accuracy: 0.9590909090909091
Precision: 0.0
Recall: 0.0
F1 Score: 0.0
AUC-ROC: 0.7694674556213018

In [26]:
# Based on above observation logistic regression gives better accuracy, So we consider it as our final model
import pickle

output_file_path = 'model.pickle'

with open(output_file_path, 'wb') as f:
    pickle.dump(logreg, f)

In [27]:
with open('model.pickle', 'rb') as f:
    loaded_model = pickle.load(f)

# Make predictions on the validation set
predictions = loaded_model.predict(X_test)


# 'predictions' now contains the predicted values for the validation set.

In [28]:
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [29]:
X_test

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
274,13547,2,-0.172292,0,0,1,1,1,0.010165,2.074001e-01,1
3430,60774,1,-1.731037,0,0,2,4,2,-1.021134,-1.296763e+00,4
4324,57034,2,-0.172292,0,0,2,1,2,1.458484,5.201467e-01,1
1027,739,2,1.425511,0,0,1,2,2,-0.520709,-2.735423e-16,3
1589,34525,2,-0.616126,0,0,2,1,2,-0.363168,-8.350889e-01,1
...,...,...,...,...,...,...,...,...,...,...,...
1123,67350,2,1.026060,0,0,1,3,2,-0.557777,9.073569e-01,1
1032,28414,1,0.404692,0,0,1,1,1,0.529124,1.925074e-01,2
3280,64662,2,-0.793660,0,0,2,1,2,-1.477429,1.115855e+00,1
527,61300,1,-0.926810,0,0,2,1,1,-1.599226,-1.103157e+00,1
1200,42201,1,0.537843,0,0,1,1,1,1.441715,5.797175e-01,1

In [30]:
result_df = X_test.copy()  # Create a copy of X_test to avoid modifying the original DataFrame
result_df['predictions'] = predictions  # Add predictions columns

result_df.to_csv('test_set_with_predictions.csv', index=False)